.place-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);

}
.place-order-left {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 16px;
}
.place-order-left .multiple-fields{
    display: flex;
    gap: 20px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
    border: 1px solid tomato;
    padding: 20px;
    border-radius: 10px;
}.place-order .cart-total button{
    margin-top: 30px;
}